<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Developers
      </ion-title>
      
    </ion-toolbar>
  </ion-header>
  
<ion-content padding class="developer">
    <div  class="content">
    <div class="list card developer">
          <img src="assets/img/mnlogo.png">
          <h3>Developed By</h3>
          Mero Network Pvt. Ltd <br/>
          Lazimpat <br/>
          Kathmandu, Nepal <br/>
          P.O.Box: 21858 <br/>
          Ph: +977-1-4426702 <br/>
  
      <a href="#" onClick="window.open('http://www.meronetwork.com', '_system', 'location=yes'); return false;">
        www.meronetwork.com
      </a>
      <br/>
      <a href="tel:+9779849628088 " class="button button-positive">Call Mero Network</a>
    </div>
  </div>
  </ion-content>

  