._right {
  font-size: 22px;
  float: right;
}

.heading {
  h1 {
    font-size: 10 + var(--size) !important;
  }
  padding: 5px 10px 5px 10px !important;
}

.title {
  --background: #d13938;
  color: white;
  width: 100%;
}
.time {
  font-size: 0.6em;
  margin: 0 !important;
}
.description {
  padding: 0 10px 5px 10px !important;
}
.description p {
  font-size: 16px !important;
  padding-top: 0 !important;
  line-height: 1.4em !important;
}
.share {
  width: 33%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  margin: 4px 2px;

  ion-icon {
    color: white !important;
    font-size: 20px;
  }
}

.footer {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-bottom: 3px !important;
}
.img-scroll {
  height: 60vw;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/img/noimage.png");
  background-size: cover;
}
.background-image {
  background-size: cover;
  background-position: center;
  width: 110% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shortDesc {
  margin-top: 0%;
  position: absolute;
  top: 0;
}
.introDetail {
  line-height: 1.5em !important;
  max-height: 3em !important; /* height is 2x line-height, so two lines will display */
  overflow: hidden;
  margin: 0;
  top: 0;
}
